<div *ngIf="insumo">
    <header>
        <div class="d-flex justify-content-between align-items-center">
            <img src="https://cafeetrusca.com/img/logo_etrusca.webp?v=1.1" alt="Logo" id="logo" class="logo">
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-column">
                    <h1 class="my-2" style="font-weight: 700; text-align: left;">📦 {{ insumo.keySap }} {{ insumo.name }}</h1>
                    <h6 class="my-4"><b>📝 Ingredientes:</b></h6>
                    <p style="text-align: justify">{{insumo.ingredients}}</p>
                    
                    <p style="text-align: justify">
                        <img src="https://intranet.cafeetrusca.com/iconos/vegano.png" style="max-width: 25px;"> Vegano: {{insumo.vegan}}  |  
                        <img src="https://intranet.cafeetrusca.com/iconos/vegetariano.png" style="max-width: 25px;"> Vegetariano: {{insumo.vegetarian}}  
                    </p>
                    
                    <p style="text-align: justify">
                        <img src="https://intranet.cafeetrusca.com/iconos/libre-de-alergenos.png" style="max-width: 25px;"> Alergenos: {{insumo.allergens}} 
                    </p>

                    <div *ngIf="insumo?.servings">
                        <h6 class="my-4"><b>🍽️ Porciones:</b></h6>
                        <p style="text-align: justify">{{ insumo.servings }}</p>
                    </div>
                </div>
            </div>

            <!-- Mostrar imágenes -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10">
                        <carousel *ngIf="extractedUrls && extractedUrls.length > 0">
                            <slide *ngFor="let url of extractedUrls">
                                <img [src]="sanitizeUrl(url)" class="d-block w-100" [alt]="'Imagen '" [ngClass]="{'botella-torani': insumo.keySap.startsWith('IJA')}">
                            </slide>
                        </carousel>
                        <p *ngIf="!extractedUrls || extractedUrls.length === 0">🚫 No hay imágenes disponibles</p>
                    </div>

                    <div class="col-md-2 d-none d-sm-block">
                        <div class="row">
                            <div class="col-12" *ngFor="let url of extractedUrls; let i = index">
                                <a href="javascript:void(0);" (click)="goToSlide(i)">
                                    <img [src]="sanitizeUrl(url)" class="img-thumbnail" [alt]="'Miniatura '">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <table class="table my-5">
                <thead class="table-dark">
                    <tr>
                        <th colspan="2" style="text-align: center;">📋 Más características</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <th scope="row">🔑 Clave</th>
                        <td>{{ insumo.keySap }}</td>
                    </tr>
                    <tr style="text-align: center;">
                        <th scope="row">📏 Contenido</th>
                        <td>{{ insumo.contNeto }}</td>
                    </tr>
                    <tr style="text-align: center;">
                        <th scope="row">📦 Presentación</th>
                        <td>{{ insumo.salesUnit }}</td>
                    </tr>
                    <tr style="text-align: center;">
                        <th scope="row">📐 Medidas</th>
                        <td>{{ insumo.width }}cm x {{ insumo.height }} cm</td>
                    </tr>
                    <tr style="text-align: center;">
                        <th scope="row">⚖️ Peso</th>
                        <td><ng-container *ngIf="insumo?.weight >= 1000; else gramos">
                            {{ (insumo.weight / 1000) | number:'1.2-2' }} kg
                        </ng-container>
                        <ng-template #gramos>
                             {{ insumo.weight }} gr
                        </ng-template></td>
                    </tr>
                
                </tbody>
            </table>
        </div>

        <div class="container my-4" id="contenedor-detalles-insumo">
            <ul class="no-bullets">
                <br>
            </ul>
        </div>
    </div>

    <div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
        <svg class="codeBar my-3" id="codeBarInsumo"></svg>

        <div class="my-3">
            <qr-code [value]="qrCodeUrl" size="200" errorCorrectionLevel="M" display="image"></qr-code>
        </div>

        <div class="space" style="height: 1cm;"></div>
    </div>
</div>
