/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

/* .contenedor-imagen {
    max-width: 300px !important;
    max-height: 300px !important;
    min-width: 250px !important;
    min-height: 250px !important;
} */

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Esto garantiza que las imágenes ocupen toda la altura de la diapositiva */
}


#codeBar {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    max-width: 300px;
    /* Establece un ancho máximo según tu diseño */
    height: auto;
    /* Ajusta la altura automáticamente según el ancho */
}

.d-none {
    display: none !important;
}

.botella-torani {
    max-width: 200px !important;
    max-height: 480px !important;
}