<!-- Mueve el componente hijo fuera del bloque condicional *ngIf -->
<ul>
  <li *ngFor="let item of maquinariaArray; let i = index">
    <!-- Crea un enlace que llame al método para establecer el ítem de maquinaria seleccionado -->
    <a (click)="seleccionarMaquinaria(item)">
      <strong>Nombre:</strong> {{ item.name }}, 
      <strong>Clave:</strong> {{ item.keySap }}
    </a>
  </li>
</ul>

<!-- Mueve esta línea fuera del bloque *ngIf -->
<app-layout-maquinaria [maquinaria]="maquinariaSeleccionada"></app-layout-maquinaria>

<!--<a [routerLink]="['/maquinaria', i]" (click)="seleccionarMaquinaria(item)"> -->