/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
  list-style-type: none;
}

/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
  list-style-type: none;
}

#contenedor360 {
  width: 50vw;
  height: 600px;
}

#codeBar {
  width: 100%;
  /* Ajusta el ancho al 100% del contenedor */
  max-width: 300px;
  /* Establece un ancho máximo según tu diseño */
  height: auto;
  /* Ajusta la altura automáticamente según el ancho */
}

.d-none {
  display: none !important;
}

.logo{
  max-width: 4vw !important;
  margin-left: 1vw;
  margin-top: 1vh;
}

.h1, h1 {
font-size: calc(1.375rem + 1vw) !important
}