<div *ngIf="maquina" id="contenido-para-imprimir-maquina">
  <header class="container">
    <div class="d-flex justify-content-between align-items-center">
      <img src="https://i.postimg.cc/y8j19qhw/logo.png" alt="Logo" id="logo">
      <img src="https://i.postimg.cc/kG6Dp3CM/imprimir-contorno-del-boton.png" alt="Icon" id="icon-print"
        (click)="printContent()">
    </div>
    <div class="d-flex justify-content-center">
      <h1 style="font-weight: 700;">{{ maquina.name }}</h1>
    </div>
    <div class="d-flex flex-row justify-content-between my-3">
      <ul class="no-bullets">
        <li><b>Clave: </b>{{maquina.keySap}}</li>
        <li><b>Marca: </b>{{maquina.brand}}</li>
        <li><b>Modelo: </b></li>
      </ul>
      <ul class="no-bullets">
        <li><b>Categoría: </b>{{maquina.category}}</li>
        <li><b>Subcategoría: </b>{{maquina.category}}</li>
        <li><b>Color: </b>{{maquina.color}}</li>
      </ul>
    </div>
  </header>

  <div class="container my-4" id="contenedor-descripcion">
    <h6>Descripción:</h6>
    <p>{{maquina.description}}</p>
  </div>

  <div class="container" id="contenedor-detalles-maquina">
    <ul class="no-bullets">
      <li><b>Voltaje: </b> {{ maquina.voltage}} </li>
      <li><b>Medidas: </b>{{ maquina.width}}cm x {{ maquina.height}}cm</li>
      <li><b>Peso: </b>{{maquina.weight}}gr</li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="imagenes-carrusel" [ngClass]="{'d-none': hideImages}">
        <carousel *ngIf="maquina && extractedUrls.length > 0">
          <slide *ngFor="let url of extractedUrls" class="contenedor-imagen">
            <img [src]="sanitizeUrl(url)" class="img-fluid">
          </slide>
        </carousel>
      </div>
      <div class="col-md-12" id="360" [ngClass]="{'d-none': hide360}">
        <iframe [src]="maquina.urlIframe" class="container  d-flex flex-wrap justify-content-center" id="contenedor360"
          frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div class="container my-4" id="contenedor-garantia-producto"  [class.d-none]="maquina.warranty === null">
    <p><b>Garantía Etrusca:</b> {{ maquina.warranty }}</p>
  </div>
</div>

<div class="container d-flex flex-wrap justify-content-around align-items-center my-4">
  <svg class="codeBar my-3" id="codeBar"></svg>

  <div class="my-3">
    <qr-code [value]="qrCodeUrl" size="200" errorCorrectionLevel="M" display="image"></qr-code>
  </div>

  <div class="space" style="height: 1cm;"></div>
</div>