<div class="container">
    <div class="float-left">
      <img src="https://i.postimg.cc/y8j19qhw/logo.png" alt="Logo" id="logo">
    </div>
    <div class="d-flex justify-content-around">
        <h1>Nombre del producto</h1>
        <img src="https://i.postimg.cc/kG6Dp3CM/imprimir-contorno-del-boton.png" alt="Logo" id="icon-print">
      </div>      
    <table class="table">
      <tr>
        <td>Clave:</td>
        <td>IBP-022</td>
      </tr>
      <tr>
        <td>Marca:</td>
        <td>Capuchino</td>
      </tr>
      <tr>
        <td>Categoría</td>
        <td>Bases en polvo</td>
      </tr>
      <tr>
        <td>Sabor:</td>
        <td>Vainilla</td>
      </tr>
    </table>
  </div>
  
  
