/* Estilos generales */
nav {
    background-color: #333;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    padding: 10px 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  /* Estilos para el botón de búsqueda */
  .search-btn {
    margin-left: auto;
    background-color: #4285F4;
  }
  
  /* Cambiar el color del enlace cuando se pasa el mouse */
  a:hover {
    background-color: #555;
  }
  
  /* Cambiar el color del enlace activo */
  a:active {
    background-color: #4CAF50;
  }
  