<div class="container">
    <div class="float-left">
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Presentación:</th>
                <td>Bolsa</td>
              </tr>
              <tr>
                <th scope="row">Contenido:</th>
                <td>1340 kg</td>
              </tr>
              <tr>
                <th scope="row">Medidas:</th>
                <td>23cm x 5cm x 34cm</td>
              </tr>
              <tr>
                <th scope="row">Peso:</th>
                <td>1400gr.</td>
              </tr>
              <tr>
                <th scope="row">Certificaciones:</th>
                <td>Kosher y Halal</td>
              </tr>
              <tr>
                <th scope="row">Observaciones:</th>
                <td colspan="2">Contiene leche</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>