#contenedor-descripcion {
    background-color: #D7762F47;
    border-radius: 10px;
    /* Border radius para redondear las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra: offsetX offsetY blurRadius color */
    padding: 20px;
    /* Opcional: Agregar un poco de espacio interno para el contenido */
}


/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Esto garantiza que las imágenes ocupen toda la altura de la diapositiva */
}

#codeBar-accesorio {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    max-width: 300px;
    /* Establece un ancho máximo según tu diseño */
    height: auto;
    /* Ajusta la altura automáticamente según el ancho */
}
.logo{
    max-width: 4vw !important;
    margin-left: 1vw;
    margin-top: 1vh;
}

.h1, h1 {
font-size: calc(1.375rem + 1vw) !important
}