header {
    background-color: #D7762F;
    padding: 20px;
}

#contenedor-descripcion {
    background-color: #D7762F47;
    border-radius: 10px;
    /* Border radius para redondear las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra: offsetX offsetY blurRadius color */
    padding: 20px;
    /* Opcional: Agregar un poco de espacio interno para el contenido */
}


/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

/* Elimina los estilos de viñetas predeterminados */
.no-bullets {
    list-style-type: none;
}

.contenedor-imagen {
    width: 15.125rem;
    height: 17.25rem;
}

.qr-code {
    width: 8.375rem;
    height: 7.0625rem;
}

.codeBar {
    width: 23.26088rem;
    height: 8.18075rem;
}